/* You can add global styles to this file, and also import other style files */
footer{
  position: fixed;
  bottom: 0;
  width: 100vw;
  left: 0;
}

#chat-messages {
  min-height: 13rem;
  border: 1px solid #4f4f44;
  border-radius: .25rem;
  overflow-y: auto;
  max-height: 400px;
}

